* {
	box-sizing: border-box; /* make all the browser use the same box model so that layout is predictable */
}

body {
	/*background-color: pink; /* help visualize */
	margin: 0; /* help visualize */
	padding: 1em; /* help visualize */
}

.booksGrid {
	background-color: white; /* help visualize */

	display: flex; /* set us up for the magic to come. */
	flex-wrap: wrap; /* make list-items wrap from row to row */
	align-items: baseline; /* The Chimero Magic™. The baseline of each list-item is starting at the bottom of that item’s image. Because each image is a different hieght, the height of the each item’s first-line are different. Normally, the list-items would align to the top-edge of the parent--their tops would all align which you can see by removing this rule. So `align-items` is the magic. */
	list-style-type: none; /* remove the list-markers (bullets) */
	padding-left: 20px; /* remove default list indent *//
}

.booksGrid li {
	outline: 1px solid white; /* help visualize */
	width: calc(100% / 3); /* This could be set as 33.3333% to more braodly support browsers. Chimero changes this using media-queries to adjust how many list-items per-row. */
  padding-right: 40px;
}

.booksGrid img {
	max-width: 80%;
}
.booksGrid a {
	padding-right: 1em; /* chimero magic */
	color: black;
	text-decoration: none;
}

.booksGrid p {
	margin-bottom: 5px;
}

.booksGrid small {
	display: block; /* deafults to `inline`. this is making sure the author is on its own line without having to add a `<br>` before it. */
	padding-bottom: 60px;
	color: #555;

}
