/* Zero-out so the body isn’t messing with things. */*/
body {
	background-color: white;
	margin: 0;
	padding: 0px;
  font-size: 16px;
}

/* Setup images to be flexible filling the space available. */
img {
	max-width: 100%;
}

/* Setup my wrapper so I can see it */
.container {
	/*outline: 1px solid red;
	background-color: pink;*/
	font-family: 'Rubik', sans-serif;
}

.banner {
  font-family: 'Rubik', sans-serif;
  padding-left: 20px;
}

.banner h1 {
  font-weight: 400;
  font-size: 1em;
  margin-top: 0px;
  padding-top: 20px;
}

.banner h1 a {
	color: black;
	text-decoration: none;
}

.banner h1 a:hover {
	color: black;
	text-decoration: underline;
}

.banner h1 a:visited {
	color: black;
}

.banner ul {
  padding: 0px;
}

.banner li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  font-weight: 400;
  font-size: 1em;
}

.banner li a {
  color: black;
  text-decoration: none;
}

.banner li a:hover {
  text-decoration: underline;
}

.intro {
  height: 60vh;
  padding-top: 100px;
  font-family: 'Cormorant', serif;
  padding-left: 20px;
  margin-bottom: -15px;
	padding-right: 20px;
}

.intro h2 {
  font-weight: 500;
  font-size: 2.197em;
}

.projects ul {
  padding: 0px;
}

.projects li {
  list-style: none;
  display: block;
  padding: 20px 20px 200px 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 1.3em;
}

.projects li a {
  color: white;
	text-decoration: none;
}

.projects li a:visited {
  color: white;
	text-decoration: none;
}

.projectOne {
  background-color: #24324C;
}

.projectOne:hover {
	background-color: #34496f;
	text-decoration: underline;
}

.projectTwo {
  background-color: #66A2CC;
}

.projectTwo:hover {
	background-color: #8cb9d9;
	text-decoration: underline;
}

.projectThree {
  background-color: #F05942;
}

.projectThree:hover {
  background-color: #f48271;
	text-decoration: underline;
}

.projectFour {
  background-color: #A9BCC6;
}

.projectFour:hover {
  background-color: #c8d4da;
	text-decoration: underline;
}

.projectFive {
  background-color: #945B38;
}

.projectFive:hover {
  background-color: #b97246;
	text-decoration: underline;
}

.projectSix {
  background-color: #24324C;
}

.projectSix:hover {
  background-color: #34496f;
	text-decoration: underline;
}

.about {
  padding: 20px 20px;
}

.about p {
  font-family: 'Cormorant', sans-serif;
  font-size: 1.69em;
}

#contact {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

#contact ul {
  padding: 0px;
}

#contact li {
  list-style: none;
  display: inline;
  padding-right: 10px;
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
}

#contact li a {
  color: black;
  text-decoration: none;
}

#contact li a:hover {
  text-decoration: underline;
}

#contact li a:visited {
	color: black;
	text-decoration: none;
}

/* Project Pages */

.projectDetail {
	background-color: #34496f;
	color: white;
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	height: 60vh;
}

.projectDetail h2 {
	font-family: 'Cormorant', serif;
	font-weight: 400;
	font-size: 2.856em;
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 10px;
}

.projectDetail h3 {
	font-weight: 300;
	margin: 0px 0px;
	font-size: 1.3em;
	padding-bottom: 10px;
}

.projectDetail p {
	font-family: 'Cormorant', serif;
	font-weight: 300;
	font-size: 1.3em;
	padding-bottom: 0px;
	margin-top: 5px;
}

.projectDetail a, .projectDetail a:hover, .projectDetail a:visited {
	font-family: 'Cormorant', serif;
	color: white;
}

.projectList ul {
	padding: 0px;
}

.projectList li {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 1em;
	list-style: none;
	display: inline-block;
	padding-bottom: 15px;
	margin-left: 20px;
}

.projectList li a {
	color: white;
	text-decoration: none;
	padding-right: 20px;
}

.projectList li a:hover {
	text-decoration: underline;
}

.projectList li a:visited {
	color: white;
}

#moreProjects { /* this is the background div */
	background-color: #34496f;
	padding: 40px 0px;
}

.moreProjects {
	margin-top: 20px;
	margin-left: 20px;
}

.moreProjects h2 {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 1em;
	background-color: #F05942;
	padding: 10px;
	display: inline-block;
	margin-bottom: 20px;
	color: white;
}

.projectImages img {
	padding: 40px 0px;
}

/* Project Firefly */

#fireflyDetail {
	background-color: #66A2CC;
}

/* UNFI */

#unfiDetail {
	background-color: #F05942;
}

/* Digital Diagrams */

#diagramsDetail {
	background-color: #A9BCC6;
	color: black;
}
